@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Molengo&display=swap');

* {
    margin: 0 auto;
    padding: 0%;
    border: none;
}

body {
    background-color: #b8b8ff;
    font-family: 'Molengo', sans-serif;
    text-align: center;
}

header {
display: flex;
flex-direction: row;
padding: 24px;
background: #FFFDFD;
}

h1 {
    color: #4c485f;
    margin-left: 20%;
}

button {
background-color: #3a3170;
border: none;
color: white;
height: 40px;
width: 100px;
border-radius: 10px;
box-shadow: 2px 5px 5px #4c485f;
}

button:hover{
    background-color: #ffa347;
    border: none;
    transition-duration: 0.3s;
    -webkit-transform: scale(1.1);
}